<p id="notice"><%= notice %></p>

<p>
  <strong>Engine:</strong>
  <%= @engine_tag.engine_id %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @engine_tag.tag_id %>
</p>

<%= link_to 'Edit', edit_engine_tag_path(@engine_tag) %> |
<%= link_to 'Back', engine_tags_path %>
