<%= form_for(@engine_rating) do |f| %>
  <% if @engine_rating.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@engine_rating.errors.count, "error") %> prohibited this engine_rating from being saved:</h2>

      <ul>
      <% @engine_rating.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :engine_id %><br>
    <%= f.number_field :engine_id %>
  </div>
  <div class="field">
    <%= f.label :rating %><br>
    <%= f.number_field :rating %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
