<p id="notice"><%= notice %></p>

<h1>Listing Asset Comments</h1>

<table>
  <thead>
    <tr>
      <th>Asset</th>
      <th>User</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @asset_comments.each do |asset_comment| %>
      <tr>
        <td><%= asset_comment.asset_id %></td>
        <td><%= asset_comment.user_id %></td>
        <td><%= asset_comment.comment %></td>
        <td><%= link_to 'Show', asset_comment %></td>
        <td><%= link_to 'Edit', edit_asset_comment_path(asset_comment) %></td>
        <td><%= link_to 'Destroy', asset_comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Asset comment', new_asset_comment_path %>
