<p id="notice"><%= notice %></p>

<h1>Listing Incentives</h1>

<table>
  <thead>
    <tr>
      <th>Asset</th>
      <th>User</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @incentives.each do |incentive| %>
      <tr>
        <td><%= incentive.asset_id %></td>
        <td><%= incentive.user_id %></td>
        <td><%= incentive.amount %></td>
        <td><%= link_to 'Show', incentive %></td>
        <td><%= link_to 'Edit', edit_incentive_path(incentive) %></td>
        <td><%= link_to 'Destroy', incentive, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Incentive', new_incentive_path %>
