<section class="wrapper site-min-height">
   


            <div clas="row">

            <div class="col-lg-12 col-md-12 col-sm-12 mb" >
              <div class="content-panel pn">
                <div id="profile-02">
                  <div class="user">
                    <img src="assets/img/ui-zac.jpg" class="img-circle" width:80px 
                      style="
                      margin-right: 720px;
                      margin-bottom: 30px;
                      ">
                     <div class="user-data"> 
                       <div class="name-title"> 
                        <h4><%= @user.email if @user.email %></h4></div>
                       <div class="pr2-social centered">
                  <a href="#"><i class="fa fa-twitter" style="
                    margin-top:0px;"
                    ></i></a>
                  <a href="#"><i class="fa fa-facebook" style="
                    margin-top:0px;"
                    ></i></a>
                  <a href="#"><i class="fa fa-dribbble" style="
                    margin-top:0px;"
                    ></i></a>
                </div>
                    <h4 style="
                      margin-right: 720px;
                      top: 10px;
                      ">BIO</h4>
                    </div>
                  </div>
                  <div class= "display"> 
   <section class="wrapper">

              <div class="row">
                  <div class="col-lg-9 main-chart">
                  
                    <div class="row mtbox">
                      <div class="col-md-2 col-sm-2 col-md-offset-1 box0">
                        <div class="box1">
                  <span class="li_heart"></span>
                  <h3>933</h3>
                        </div>
                  <p>933 Favorites</p>
                      </div>
                      <div class="col-md-2 col-sm-2 box0">
                        <div class="box1">
                  <span class="li_cloud"></span>
                  <h3>+48</h3>
                        </div>
                  <p>48 favorites</p>
                      </div>
                      <div class="col-md-2 col-sm-2 box0">
                        <div class="box1">
                  <span class="li_stack"></span>
                  <h3>23</h3>
                        </div>
                  <p>Partners</p>
                      </div>
                      <div class="col-md-2 col-sm-2 box0">
                        <div class="box1">
                  <span class="li_news"></span>
                  <h3>$</h3>
                        </div>
                  <p>Request</p>
                      </div>
                      
                    
                    </div>
                  </div>
                </div>
                
              </div><! --/panel -->
            </div><!--/ col-md-4 -->
          </div>

<div class="containerLog col-lg-3 ds">
                <h3>Activity Log</h3>
                                        
                      <!-- First Action -->
                      <div class="desc">
                        <div class="thumb">
                          <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
                        </div>
                        <div class="details">
                          <p><muted>2 Minutes Ago</muted><br/>
                             <a href="#">DJ Sherman</a> Uploaded a new module<br/>
                          </p>
                        </div>
                      </div>
                      <!-- Second Action -->
                      <div class="desc">
                        <div class="thumb">
                          <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
                        </div>
                        <div class="details">
                          <p><muted>3 Hours Ago</muted><br/>
                             <a href="#">DJ Sherman</a> added a new asset<br/>
                          </p>
                        </div>
                      </div>
                      <!-- Third Action -->
                      <div class="desc">
                        <div class="thumb">
                          <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
                        </div>
                        <div class="details">
                          <p><muted>7 Hours Ago</muted><br/>
                             <a href="#">DJ Sherman</a> Contributed in Ricky C's game<br/>
                          </p>
                        </div>
                      </div>
                      <!-- Fourth Action -->
                      <div class="desc">
                        <div class="thumb">
                          <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
                        </div>
                        <div class="details">
                          <p><muted>11 Hours Ago</muted><br/>
                             <a href="#">DJ Sherman</a> uploaded a new module <br/>
                          </p>
                        </div>
                      </div>
                      <!-- Fifth Action -->
                      <div class="desc">
                        <div class="thumb">
                          <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
                        </div>
                        <div class="details">
                          <p><muted>18 Hours Ago</muted><br/>
                             <a href="#">DJ Sherman</a> uploaded a new game<br/>
                          </p>
                        </div>
                      </div>
            </div>

<section class="boxes">
            <div class="row mt">
              <div class="col-lg-12">
              
                <! -- 1st ROW OF PANELS -->
                <div class="row">
                <%@user.credits.each do |credit|%>
	                  <! -- Blog Panel -->
	                  <div class="col-lg-4 col-md-4 col-sm-4 mb">
	                    <div class="content-panel pn">
	                      <div id="blog-bg">
	                        
	                        <div class="blog-title"><%=credit.resource.name%></div>
	                      </div>
	                      <div class="blog-text">
	                        <p><a href="/resources/<%=credit.resource.id%>">Show</a>
	                        <span class="label label-default label-pane">test1</span>
	                      </div>
	                    </div>
	                  </div><!-- /col-md-4-->
                  <% end %>
                </div><! --/END 1ST ROW OF PANELS -->

              </div>
            </div>
           </section>
		      </section><! --/wrapper -->

<%client = DogecoinClient.new%>
<%if client.valid?%>
  <h2>Ðonations: <%=client.get_balance("network_"+@user.id.to_s)%></h2>
  <h3><%=client.get_account_address("network_"+@user.id.to_s)%></h3>
  <p><img src="https://chart.googleapis.com/chart?chs=300x300&cht=qr&chl=Hello%20world&choe=UTF-8"/></p>
<%else%>
  <p>so server very dow</p>
<%end%>
