<p id="notice"><%= notice %></p>

<h1>Listing Resource Ratings</h1>

<table>
  <thead>
    <tr>
      <th>Resource</th>
      <th>Rating</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @resource_ratings.each do |resource_rating| %>
      <tr>
        <td><%= resource_rating.resource_id %></td>
        <td><%= resource_rating.rating %></td>
        <td><%= link_to 'Show', resource_rating %></td>
        <td><%= link_to 'Edit', edit_resource_rating_path(resource_rating) %></td>
        <td><%= link_to 'Destroy', resource_rating, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Resource rating', new_resource_rating_path %>
