<p id="notice"><%= notice %></p>

<p>
  <strong>Component:</strong>
  <%= @asset.component.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @asset.category.name %>
</p>

<p>
  <strong>Download:</strong>
  <%= @asset.download %>
</p>

<p>
  <strong>License:</strong>
  <%= @asset.license.name %>
</p>

<p>
  <strong>Comments:</strong>
  <br/>
  <% @asset.asset_comments.each do |comment| %>
    <%= comment.comment %>
    <br/>
  <% end %>
</p>

<p>
  <strong>Ratings:</strong>
  <br/>
  <% @asset.asset_ratings.each do |rating| %>
    <%= rating.rating %>
    <br/>
  <% end %>
</p>

<p>
  <strong>Tags:</strong>
  <br/>
  <% @asset.asset_tags.each do |tag| %>
    <%= tag.tag.name %>
    <br/>
  <% end %>
</p>

<%= link_to 'Edit', edit_asset_path(@asset) %> |
<%= link_to 'Back', assets_path %>
