<p id="notice"><%= notice %></p>

<h1>Listing Resource Tags</h1>

<table>
  <thead>
    <tr>
      <th>Resource</th>
      <th>Tag</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @resource_tags.each do |resource_tag| %>
      <tr>
        <td><%= resource_tag.resource_id %></td>
        <td><%= resource_tag.tag_id %></td>
        <td><%= link_to 'Show', resource_tag %></td>
        <td><%= link_to 'Edit', edit_resource_tag_path(resource_tag) %></td>
        <td><%= link_to 'Destroy', resource_tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Resource tag', new_resource_tag_path %>
